/terraform_module/.terraform/
/terraform_module/.terraform.lock.hcl
examples/docker_compose/data_minio
examples/terraform/.terraform
examples/terraform/terraform.tfstate
examples/terraform/terraform.tfstate.backup
helm_chart/charts
n8n/.values.yaml
